body {
	width: 400px;
	background-color: #F5FAF5;
}

p{
	font-family: Palatino Linotype;
	font-size: 26px;
	cursor: default;
}

#deleteButton{
	font-size: 10px;
	position: absolute;
	left: 80%;
	cursor: pointer;
	font-family: Arial;
}

.spanDelete{
	text-align: right;
}

.group_header {
	color: red;
	font-weight: bold;
	font-size: 16px;
	cursor: default;
}

.hide_group {
	background-color: black;
	color: blue;
	display: none;
}

.tab_class {
	font-family: Verdana;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
	border-style:outset;
	border-width:medium;
	border-color: #B2B2B2;
	padding-bottom: 5px;
	padding-top: 5px;
	border-spacing:10px 20px;
	text-align:center;
	margin-top: 2px;
	
	width: 370px;
	float: left;
}

.tab_class:hover {
	background-color: #FFFE94;
}

.tab_x {
	margin: 2px;
	border: 1px black solid;
	width: 15px;
	float: right;
	padding: 2px 0;
	text-align: center;
	cursor: pointer;	
}
.tab_x:hover {
	background-color: #D0D0C5
}
