body {
	width: 400px;
	background-color: #F4FEED;
}

#deleteButton{
	font-size: 15px;
	float: right;
	cursor: pointer;
	font-family: Arial;
	font-weight: bold;
	alt:"click to delete duplicate tabs";
}

.spanDelete{
	text-align: right;
}

.group_header {
	font-weight: bold;
	font-size: 16px;
	cursor: default;
	border: 1px black solid;
	width:200px;
	padding-left: 5px;
	border-radius: 30px;
	border-bottom: none;
	float: left;
	margin-top: 2px;
	cursor: pointer;
	background: linear-gradient(#59C40B,#a7faac);
}

.hide_group {
	display: none;
}

.tab_class {
	font-family: Verdana;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
	border-style:outset;
	background-color: #FCFFF9;
	border-width:medium;
	border-color: #B2B2B2;
	padding-bottom: 5px;
	padding-top: 5px;
	border-spacing:10px 20px;
	text-align:center;
	margin-top: 2px;
	width: 370px;
	float: left;
}

.tab_class:hover {
	background-color: #FFFE94;
}

.tab_x {
	margin: 2px;
	border: 1px black solid;
	border-radius: 40%;
	font-weight: bold;
	width: 15px;
	float: right;
	text-align: center;
	cursor: pointer;	
	background-color:white;
}
.tab_x:hover {
	background-color: #D0D0C5
}
